@import './variables';

@import "./components/Navbar";
@import "./pages/login";
@import './pages/Create';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: $root-font-size;
}