.wrapper {
  background-color: rgba(255, 255, 255, 0.5);
  filter: blur(50px);
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.navbar-wrapper {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  border-bottom: 1px solid lightgray;
  box-shadow: 1px 7px 10px -4px rgba(0, 0, 0, 0.5);
}
.navbar-wrapper__logodiv span {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-family: "Lato";
  font-weight: 600;
  font-size: clamp(1.25rem, 3vw, 30px);
  text-decoration: overline underline;
}
.navbar-wrapper__navbar-main {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.navbar-wrapper__navbar-main a {
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-decoration: none;
  color: black;
  font-family: "Lato";
  font-weight: 600;
  font-size: clamp(1rem, 4vw, 1.2rem);
}
.navbar-wrapper__navbar-main__profile-main {
  height: 100%;
  visibility: hidden;
}
.navbar-wrapper__navbar-main__profile-main img {
  height: 100%;
  border-radius: 100%;
  border: 1px solid black;
  -o-object-fit: cover;
     object-fit: cover;
}

.login-main {
  background-color: red;
  height: 100%;
  width: 100%;
}
.login-main form {
  background-color: yellow;
}

.create-page-main {
  background-color: transparent;
  max-height: 100%;
}
.create-page-main .homepage-main__form-wrapper {
  height: 15.625rem;
}
.create-page-main .homepage-main__form-wrapper form {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__filterscontainer {
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  width: 100%;
  font-family: "Lato";
  display: flex;
  justify-content: center;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__filterscontainer .filterscontainer__wrapper {
  width: 600px;
  display: flex;
  justify-content: space-between;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__filterscontainer .filterscontainer__wrapper .filterscontainer__bigscreen {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__filterscontainer .filterscontainer__wrapper input {
  max-width: 20px;
  outline: none;
  border: 1px solid lightgray;
  text-align: center;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__filterscontainer .filterscontainer__wrapper .filterslists span {
  margin: 10px;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__filterscontainer .filterscontainer__wrapper .filterslists select {
  outline: none;
  border: 1px solid lightgray;
  text-align: center;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__searchcontrolwrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__searchcontrolwrapper textarea {
  height: 100px;
  width: 50%;
  min-width: 260px;
  max-width: 500px;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  resize: none;
  margin-bottom: 10px;
}
.create-page-main .homepage-main__form-wrapper form .homepage-main__searchcontrolwrapper button {
  height: 50px;
  width: 50%;
  min-width: 260px;
  max-width: 500px;
  border: 1px solid lightgray;
  background-color: rgb(23, 23, 23);
  color: white;
  border-radius: 5px;
}
.create-page-main .homepage-main__showcase {
  display: grid;
  place-content: center;
}
.create-page-main .homepage-main__showcase h1 {
  padding: 10px;
  font-family: "Lato";
}
.create-page-main .homepage-main__showcase h2 {
  padding: 10px;
  font-family: "Lato";
}
.create-page-main .homepage-main__showcase .showcase__images-grid img {
  margin: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}/*# sourceMappingURL=style.css.map */