.navbar-wrapper {
    width: 100%;
    height: pxToRem(60);
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid lightgray;

    box-shadow: 1px 7px 10px -4px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: 1px 7px 10px -4px rgba(0, 0, 0, 0.77);
    // -moz-box-shadow: 1px 7px 10px -4px rgba(0, 0, 0, 0.77);

    &__logodiv {

        span {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            font: {
                family: 'Lato';
                weight: 600;
                // size: pxToRem(19)
                size: clamp(pxToRem(20), 3vw ,30px);
            }

            text-decoration: overline underline;
        }
    }

    &__navbar-main {
        height: 100%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;

        // @media screen and (max-width: 429px) {
        //     display: none;
        // }
        a {
            height: 100%;
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            text-decoration: none;
            color: black;

            font: {
                family: 'Lato';
                weight: 600;
                size: clamp(1rem, 4vw, 1.2rem);
            }
        }

        &__profile-main {
            height: 100%;
            visibility: hidden;

            img {
                height: 100%;
                border-radius: 100%;
                border: 1px solid black;
                object-fit: cover;
            }
        }
    }
}